.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    /* background-color: #000;
    color: white; */
    padding: 45px 30px;
    border-radius: 50%;
  }
  
.text {
  position: absolute;
  width: 90%;
  height: 85%;
  font-family: consolas;
  font-size: 15px; /* Default font size for small screens */
  animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1em; /* Smaller size for mobile */
  transform-origin: 0 50px; /* Reduced radius for smaller screens */
}

/* Responsive design for medium and larger screens */
@media (min-width: 768px) {
  .text {
    font-size: 19px;
  }

  .text span {
    font-size: 1.2em;
    transform-origin: 0 85px;
  }
}

.spinner-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's on top of other content */
  }