body {
  transition: background-color 0.3s, color 0.9s; /* Smooth transition between themes */
}

body.dark {
  background-color: #0a0a0a; /* Dark background for the entire app */
  color: #ffffff;
}
